@font-face {
    font-family: Bab;
    src: url('Fonts/Babylonica-Regular.ttf');
}

body{
    margin: 0;
}


header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #8C877D;
padding: 5px;

font-family: Bab;
font-weight: normal;
}

.AeraHeading{
    font-weight: inherit;
    
}

.Aera{
font-size: 110px;
}

.Interiors{
font-size: 32px;
margin-left: 180px;
display: block;
margin-top: -30px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    gap: 70px;
    font-size: 60px;
    align-items: center;
    margin-right: 50px;
}

nav a.active {
    border-bottom: 3px solid #000000;
    
}

















footer {
    display: flex;
    background-color: #8C877D;
    min-height: 250px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px ;
}

.AeraHeadingFooter{
    font-weight: inherit;
    font-family: Bab;
    
}
.AeraFooter{
font-size: 110px;
}

.InteriorsFooter{
font-size: 32px;
margin-left: 180px;
display: block;
margin-top: -30px;
}

.bab{
    font-family: Bab;
    font-weight: normal;
}

.AddressHeading{
    font-size: 60px;
    margin-bottom: 20px;
    
}

.Address{
     border-left: 3.5px solid black;
    padding-left: 50px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.Address p{
    margin-left: 200px;
    font-size: 16px;
    font-family: "Times New Roman", serif;
    color: #1E1E1E;
   
}



.HoursHeading{
    font-size: 60px;
    margin-bottom: 20px;
    
}

.HoursSchedule p{
    font-size: 16px;
    font-family: "Times New Roman", serif;
    justify-content: space-between;
    gap: 80px;
    display: flex;
    color: #1E1E1E;
}

.HoursFooter{
    border-left: 3.5px solid black;
    padding-left: 20px;
    
}

.hero{
    background-image:url("Images/couchpic.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;

    height: 800px;
}

.hero h1{
    margin-top: 0;
    position: absolute;
    top: 200px;
    left: 50%;
    
    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 60px;
    font-weight: normal;
}

.hero h2{
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 40px;
    font-weight: normal;
}

.watermark{
    position: absolute;
    bottom: -40px;
    left: -15px;
    opacity: 0.5;
    width: 200px;
    z-index: 2;
}

.about{
   margin-top: 0px;
    background-image:url("Images/bed.jpeg");
    background-size: cover;
    background-position: center;
    height: 1500px;
    position: relative;
}

.about h2{
    margin-top: 0;
    position: absolute;
    top: 450px;
    left: 70%;
    
    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 40px;
    font-weight: normal;
}

.about h3{
    position: absolute;
    top: 1000px;
    left: 30%;
    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 40px;
    font-weight: normal;
}


.watermark2{
    position: absolute;
    bottom: -40px;
    left: -15px;
    opacity: 0.5;
    width: 200px;
    
}

.aboutButton{
    position: absolute;
    top: 1350px;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(140, 71, 46, 0.8);
    color: black;
    font-family: cormorant garamond, serif;
    font-size: 20px;

    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    text-decoration: none;
    font-weight: 200;
}

.aboutButton a {
    color: black;
    text-decoration: none;
}


.aboutSection{
    background-image:url("Images/A.png");
    background-size: cover;
    background-position: center;
    position: relative;

    height: 1200px;
}

.aboutSection h2{
    margin-top: 0;
    position: absolute;
    top: 200px;
    left: 50%;
    
    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 40px;
    font-weight: normal;
}

.txt1{
    margin-top: 0;
    position: absolute;
    top: 300px;
    left: 50%;

    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 20px;
    line-height: 1.5;
}

.txt2{
    margin-top: 0;
    position: absolute;
    top: 500px;
    left: 50%;

    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 20px;
    line-height: 1.5;
}

.aboutSection h3{
    margin-top: 0;
    position: absolute;
    top: 700px;
    left: 50%;
    
    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 40px;
    font-weight: normal;
}

.txt3{
    margin-top: 0;
    position: absolute;
    top: 800px;
    left: 50%;

    transform: translateX(-50%);
    color: white;
    font-family: cormorant garamond, serif;
    font-size: 20px;
    line-height: 1.5;
}

.contactButton{
    position: absolute;
    top: 1000px;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(140, 71, 46, 0.8);
    color: black;
    font-family: cormorant garamond, serif;
    font-size: 20px;

    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    text-decoration: none;
    font-weight: 200;
}

.contactButton a {
    color: black;
    text-decoration: none;
}